{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="login">
  <div class="wrapper">
    <div class="title">
      SIGN-IN
    </div>
    <form action="{% url 'signin' %}" method="POST">
      {% csrf_token %}
        <div class="form">
          <div class="inputfield">
          <label>User Name</label>
          <input type="text" class="input" name="username" required>
        </div>    
          <div class="inputfield">
            <label>Password</label>
            <input type="password" class="input" name="password" required>
          </div>  
        <div class="inputfield terms">
            <p style="text-align: center;">Don't have a account you can register <a href="">HERE</a></p>
          </div> 
        <div class="inputfield">
          <input type="submit" value="Register" class="btn">
        </div>
      </div>
    </form>
   
</div>
</section>

{% endblock content %}
    